<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   WhenDidIDoIt

   Created by Jaka Tertinek on 10/11/2019.
   Copyright (c) 2019 Facebook. All rights reserved.
-->
<plist version="1.0">
    <dict>
    <key>AppSecret</key>
    <string>d704100b-ee3c-4587-b64a-3e44738e4354</string>
    </dict>
</plist>
